body{
    background-color: rgb(155, 155, 71);
    margin:0;
}

.TitleBackground{
    background-color: rgb(68, 68, 20);
    color: white;
    padding-left: 20px;
    
}
.inlineWithBaliseP{
    margin-top:5px;
    margin-bottom:5px;
    display: flex;
    justify-content: space-between;
}

/* CONTAINER */
.BodyContainer{
    background-color: rgb(237, 237, 237);
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*  GROUP TITLE */
.GroupTitle{
    background-color: rgb(68, 68, 20);
    display: flex;
    justify-content: space-between;
}
.TitleH1{
    margin-top: 5px;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}
.GroupLinkTitle{
    color: white;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.LinkA{
    color: rgb(68, 68, 20);
    background-color: white;
    padding: 5px;
    margin-right:20px;
    text-decoration: none;
    font-weight: bold;
}
.divImg{
    border-left: solid 2px rgb(68, 68, 20);
    border-right: solid 2px rgb(68, 68, 20);
    border-bottom: solid 10px rgb(68, 68, 20);
}

/** GROUP CARTS MEATS **/
.GroupCartsMeats{
    display: flex;
    justify-content:space-between;
}
.BlockWriteList{
   padding:20px;
}


/* Write Carts Meats */
.b-red{
    font-weight: normal;
    color:red;
}


/**  **/
.GroupImageCartsMeats{
    display:flex;
    flex-direction: column-reverse;
    
    padding:20px;
}

.li-cartsMeats{
   padding: 5px;
}

ul .li-cartsMeats{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
   
}

/** GROUP MOFONGOS ET SHAKES & JUICE */
.groupM-Shakes{
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:20px;
    padding-right:20px;
    
}
.mofongos{
    background-color: rgb(155, 155, 71);
    padding: 20px;
    width: 540px;
    border-left: solid 2px rgb(68, 68, 20);
    border-right: solid 1px rgb(68, 68, 20);
    border-top: solid 2px rgb(68, 68, 20);
    border-bottom: solid 2px rgb(68, 68, 20);


}
.mofongos p{
   display: flex;
   justify-content: space-between;
}
.ShakesJuice{
    background-color: rgb(155, 155, 71);
    padding: 10px;
    border-left: solid 1px rgb(68, 68, 20);
    border-right: solid 2px rgb(68, 68, 20);
    border-top: solid 2px rgb(68, 68, 20);
    border-bottom: solid 2px rgb(68, 68, 20);

}
.ShakesJuice p{
    display: flex;
    justify-content:space-between;
    font-size: 13px;
 }


/* GROUP BREAKFAST */
.BreakfastSandwiches{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.DeuxM{
    display: flex;
    justify-content:space-around;
}
.BlockSandwiches{
    padding: 20px;
    width: 500px;
    margin-top:0;
}